body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9; /* Um fundo claro para destacar os elementos coloridos */
}

header {
    background-color: #d9534f; /* Vermelho */
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    margin: 15px;
    padding: 15px;
    background-color: white; /* Fundo branco para a parte principal para melhor leitura */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para dar um efeito elevado */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f0ad4e; /* Amarelo */
    color: white; /* Texto branco para cabeçalho */
}

td {
    background-color: #fff; /* Fundo branco para as células para contraste */
}

section#actions {
    margin-top: 20px;
}

form#stockForm label {
    margin-right: 10px;
}

form#stockForm input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form#stockForm button {
    background-color: #5cb85c; /* Verde */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

form#stockForm button:hover {
    background-color: #449d44; /* Verde escuro para hover */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Estilos para botões dentro da tabela */
button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
}

button.add {
    background-color: #5cb85c; /* Verde */
}

button.add:hover {
    background-color: #449d44; /* Verde escuro */
}

button.subtract {
    background-color: #d9534f; /* Vermelho */
}

button.subtract:hover {
    background-color: #c9302c; /* Vermelho escuro */
}

button.remove {
    background-color: #f0ad4e; /* Amarelo */
}

button.remove:hover {
    background-color: #ec971f; /* Amarelo escuro */
}

/* Responsividade para manter a UI utilizável em dispositivos menores */
@media (max-width: 768px) {
    form#stockForm {
        flex-direction: column;
        align-items: flex-start;
    }

    form#stockForm label,
    form#stockForm input,
    form#stockForm button {
        width: 100%;
        margin: 5px 0;
    }

    /* Ajuste para mobile para não ter espaçamento lateral */
    main {
        margin: 15px 5px;
        padding: 10px;
    }

    header, footer {
        padding: 8px 0;
    }
}
