body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #E53935; /* Vermelho */
}

.controls {
    margin-bottom: 20px;
}

.controls button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#addItem {
    background-color: #CDDC39; /* Amarelo */
    color: #333;
}

#removeItem {
    background-color: #4CAF50; /* Verde */
    color: #fff;
}

#instrumentList .instrument-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #E53935;
    border-radius: 5px;
}
